.wave {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding-top: 60px;
    z-index: -1;
    overflow: hidden;
}

.wave-background {
    width: 100vw;
    position: absolute;
    left: calc(-50vw + 50%);
    height: calc(100% - 200px);
    z-index: -1;
    transform: translateY(200px);
}

.first-wave-background {
    transform: none;
    height: 100%;
}
body{
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    margin: 0;
}

footer {
    font-family: 'Poppins';
    color: white;
    width: 100%;
    margin-top: 10px;
}

footer .footer_wrapper {
    margin: auto;
    display: grid;
    max-width: 1600px;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    padding: 0px 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

footer h2 {
    font-weight: 500;
}

footer a {
    color: inherit;
    overflow-wrap: anywhere;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .footer_wrapper>div {
    margin: 0px 20px;
}



footer .social_icons,
.contact_link {
    display: flex;
}

footer .social_icons>a {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .social_icons p {
    margin: 0;
}

footer .social_icons>a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center center;
}

footer .contact_links .contact_link {
    align-items: center;
}



footer .contact_links .contact_link img {
    background-color: white;
    border-radius: 40%;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease;
}

footer .contact_links .contact_link img:hover {
    background-color: rgb(221, 221, 221);
}

footer .copyright {
    text-align: right;
    padding: 10px 20px;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #0000000f;
    width: 100vw;
}

footer .copyright p {
    margin: 0;
    margin-left: auto;
    margin-right: 44px;
}
nav {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    font-family: "Poppins";
    color: white;
    z-index: 10;
    backdrop-filter: blur(5px);
}
nav .nav-wrapper {
    display: flex;
    max-width: 1600px;
    max-width: var(--page-width);
    margin: auto;
    height: 100%;
    padding: 0px 10px;
}

/* logo */
nav .logo {
    height: calc(100% - 20px);
    padding: 10px 0px;
    width: 6%;
    min-width: 60px;
}

nav .logo img {
    height: 100%;
    width: auto;
    margin: 0px 5px;
}

/* menu */
nav .navigation {
    display: flex;
    gap: 20px;
}

nav .navigation > div {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease;
    cursor: pointer;
    font-size: 1.17em;
    width: 200px;
    text-align: center;
}
nav .navigation > div:hover {
    background: var(--accent);
}
nav .navigation > div:hover .dropdown {
    display: flex;
}
nav .navigation .title {
    padding: 0;
    margin: 0;
    line-height: 60px;
}
nav .navigation div a {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

nav .navigation > div .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--accent);
    font-size: 0.9em;
}
nav .navigation > div .dropdown a {
    padding: 10px 20px;
    transition: .2s ease;
}
.dropdown a:hover {
    background-color: rgb(0,0,0,0.1);
}

nav .navigation .menu .game.active {
    background-color: #0000005b;
}

nav .navigation .menu .game {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

nav .navigation .menu .game .title {
    margin: 0;
    font-weight: bold;
}

nav .navigation .sub-menu {
    background-color: #0000005b;
    margin: auto;
}

nav .navigation .sub-menu .game {
    display: none;
    justify-content: space-around;
}

nav .navigation .sub-menu .game.active {
    display: flex;
}

nav .navigation .sub-menu .game a {
    margin: 0px 10px;
    text-decoration: none;
}

nav .navigation .sub-menu .game a p {
    margin: 0;
    color: white;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

/* mobile */
.hamburger-icon {
    align-self: center;
    display: none;
}
.hamburger-icon > span {
    user-select: none;
    cursor: pointer;
    font-size: 35px;
    align-self: center;
}
.mobile-menu {
    position: fixed;
    top: 0;
    background-color: var(--accent);
    padding: 20px;
    min-width: 250px;
    height: 100vh;
    z-index: 11;
    transition: .3s ease;
}
.mobile-menu span {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10px;
}
.mobile-menu > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2em;
}
.mobile-menu a {
    text-decoration: none;
    color: #000000;
}
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease;
}

/* hide mobile */
.mobile-menu {
    transform: translateX(-100%);
}
.mobile-menu, .overlay {
    display: none;
    
}

/* visibility toggle classes */
.menu-open, .overlay-visible {
    transform: translateX(0%)!important;
}
.overlay-visible {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-wrapper {
        justify-content: space-between;
    }
    nav .navigation {
        display: none;
    }
    .mobile-menu, .overlay {
        display: block;
    }
    .overlay {
        transform: translateX(-100%);
    }
    .hamburger-icon {
        display: flex;
    }
}
html {
    overflow-x: hidden;
}

:root {
    --border-radius: 16px;
    --page-width: min(1600px, calc(98% - 15px));
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background: var(--background);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    box-sizing: border-box;
    width: var(--page-width);
    height: fit-content;
}

.ad {
    width: 100%;
    margin-bottom: 22px;
}
/* main */
.small-nav {
    display: flex;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

.small-nav a {
    text-decoration: none;
    color: inherit;
    margin: 0px 5px;
    border-bottom: 1px solid transparent;
    transition: border-color .3 ease;
}

.small-nav a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.wrapper>h1 {
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    width: 100%;
    margin-top: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #00000021;
    margin: 30px 0;
    padding: 0;
}

/* explanation section */
/* .explanation>.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(60%, max(450px, 32%)), 1fr));
    gap: 15px;
    font-family: 'Poppins', sans-serif;
}

.explanation>.boxes>.text {
    padding: 20px;
    background-color: var(--secondary);
    box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    transition: top ease 0.3s;
    position: relative;
    top: 0;
}

.explanation>.boxes>.text:hover {
    box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.329);
    top: -5px;
}

.explanation>.boxes>.text .icon {
    width: 80px;
    display: block;
    margin: auto;
}

.explanation>.boxes>.text h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 0;
} */
.tool h3 {
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* input */
.input {
    display: flex;
    max-width: 1100px;
    margin: 10px auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 30px;
}

.inputs, .output {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: var(--border-radius);
    padding: 15px;
}

.input .location {
    width: 100%;
}

@media screen and (min-width: 630px) {
    .input .location {
        flex: 1;
    }
}

.input .location label {
    background-color: var(--accent);;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    position: relative;
}

.input .location .number {
    width: 20%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    position: relative;
}

.input .location .number p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input .location input {
    display: inline;
    width: 80%;
    box-sizing: border-box;
    padding: 3px calc(var(--border-radius) / 2);
    border: 0;
    font-size: inherit;
    height: 100%;
    position: absolute;
    border-radius: var(--border-radius);
}

/* output */
.output {
    display: flex;
    max-width: 1100px;
    margin: 50px auto 10px auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.output .direction-output {
    width: 50%;
    min-width: 200px;
    margin: auto;
}

.output .movement-output {
    width: 50%;
    margin: auto;
    min-width: 200px;
}

.output .movement-types {
    display: flex;
    flex-wrap: wrap;
}

.output .movement-output-item {
    width: 50%;
    min-width: 200px;
}

.output #direction {
    height: 40px;
    margin: auto;
    display: inline;
    vertical-align:middle;
}

.output p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.output .movement-time {
    font-style: italic;
    text-overflow: clip;
}

.output #direction-number {
    font-size: 2em;
    vertical-align:middle;
}
body > .tooltip {
    padding: 5px 10px;
    width: fit-content;
    max-width: 250px;
    background-color: #e2e2e2;
    position: absolute;
    pointer-events: none;
    display: none;
    font-size: 15px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3);
    transition: opacity .3s ease, transform .3s ease;
}
.information {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(300px, 18%), 1fr));
    gap: 15px;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.information .cell {
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    position: relative;
    transition: .3s ease;
    top: 0;
    padding: 20px;
}

.information .cell img {
    width: 100%;
    height: 100%;
}

.information .cell .tag {
    font-size: 0.7em;
    color: grey;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 12px;
}

.information .cell .header {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px;
}

.information .cell .header .title {
    margin: 0px;
}

.information .cell .header .icon {
    width: 40px;
    display: block;
}

.information > .cell:hover {
    box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.329);
    top: -5px;
}

/* Diffent sizes of cells */
.information .important {
    padding: 30px;
    font-size: 1.2em;
    grid-column: span 3;
}

.information .question {
    grid-column: span 2;
}

@media only screen and (max-width: 1000px) {
    .information {
        grid-template-columns: 1fr 1fr;
    }

    .information .important {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 750px) {
    .information {
        grid-template-columns: 1fr;
    }

    .information .important {
        grid-column: span 1;
    }

    .information .question {
        grid-column: span 1;
    }
}
.big_list {
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min(max(350px, 26%),100%), 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.big_list::-webkit-scrollbar { 
    height: 10px;
    border-radius: var(--border-radius);
    background-color: #F5F5F5;
}

.big_list::-webkit-scrollbar-thumb { 
    border-radius: var(--border-radius);
    background: var(--accent);
}

.big_list * {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.big_list a {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
    border-radius: var(--border-radius);
}

.big_list img {
    object-fit: cover;
    transition: .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.big_list a:hover img {
    transform: scale(1.03);
}

.big_list .gradient {
    position: absolute;
    padding-bottom: 20px;
    padding-left: 20px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.big_list .material-symbols-outlined {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 40px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.4));
}
.big_list .gradient h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .big_list .gradient h2 {
        font-size: 1.8em;
    }
}

.big_list .gradient p {
    margin: 0;
    font-size: 0.9rem;
}


